/* font */
@font-face{
  font-family: 'Roboto';
  src: url('/font/roboto-400-n.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: 'Roboto';
  src: url('/font/roboto-400-i.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face{
  font-family: 'Roboto';
  src: url('/font/roboto-400-n.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

/* general */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

body {
  max-width: 1200px;
  min-width: 300px;
  margin: 20px auto;
  background-color: rgb(28, 28, 28);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

header, main, footer {
  margin: 0 20px;
}

h2 {
  color: rgb(188, 80, 236);
}

h3 {
  color: rgb(57, 193, 246);
}

h4 {
  color: rgb(188, 80, 236);
}

a {
  color: rgb(255, 208, 48);
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.blue {
  color: rgb(0, 121, 250);
}

.green {
  color: rgb(0, 209, 76);
}

.yellow {
  color: rgb(255, 208, 48);
}

.mar_top_10 {
  margin-top: 10px;
}

.mar_bot_10 {
  margin-bottom: 10px;
}

.mar_bot_20 {
  margin-bottom: 20px;
}

.mar_bot_30 {
  margin-bottom: 30px;
}

.mar_bot_40 {
  margin-bottom: 40px;
}

.debug {
  width: 200px;
  height: 200px;
  background-color: red;
  text-align: center;
  line-height: 200px;
}

/* header */
.nav_bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  list-style: none;
}

.nav_bar li {
  margin-left: 20px;
}

.nav_bar .home {
  margin-left: 0;
  margin-right: auto;
}

.user_name {
  color: rgb(0, 209, 76);
}

.at_sign {
  color: rgb(0, 121, 250);
}

.domain {
  color: rgb(57, 193, 246);
}

.tilde {
  color: rgb(255, 208, 48);
}

.plus_minus {
  color: rgb(0, 121, 250);
}

.percentage {
  color: rgb(255, 255, 255);
}

.vertical_bar {
  opacity: 1;
  color: rgb(0, 209, 76);
  animation-name: blink;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes blink {
  0% {
    color: rgb(0, 209, 76);
  }
  50% {
    color: transparent;
  }
}

/* main */
.love_hate {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.projects .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.repos .grid {
  display: flex;
  flex-wrap: wrap;
}

.repos .grid .item {
  width: calc(1280px * 0.20);
  margin: 10px 10px 0 10px;
  opacity: 0.5;
}

.repos .grid .item:hover {
  opacity: 1;
}

.repos .grid .item img {
  width: 100%;
  border-radius: 5px;
}

.repos .grid .item a {
  display: block;
  text-align: center;
}

.repos .grid .item h4 {
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255)
}

.about_website .flexbox {
  display: flex;
  align-items: center;
  /* flex-wrap: nowrap; */
}

@media screen and (max-width: 992px) {
  .about_website .flexbox {
    display: block;
  }
}

.paragraph {
  flex-basis: 45%;
}

.neofetch {
  flex-basis: 55%;
}

.neofetch img {
  display: block;
  max-width: 842px;
  width: 100%;
  margin: auto;
}

/* footer */
.author {
  text-align: right;
}

.author span {
  color: rgb(0, 209, 76);
}

#bridge span:nth-child(2n + 1){
	display: none;
}
